/* GENERAL */

*
    font-size: $fontSize
    font-family: 'GothamRounded'
    font-style: normal
    font-weight: normal

body
    overflow-x: hidden
    background-color: $secondaryColor
    color: $fontPrimaryColor
    position: relative

    &.no-scroll
        height: 100vh
        width: 100vw
        overflow: hidden

        .icon

            &.whatsapp
                display: none

    .icon

        &.whatsapp
            display: block
            background: url(../../assets/icons/icon_whatsapp.svg) no-repeat center
            width: 83px
            height: 83px
            position: fixed
            bottom: 15px
            right: 15px
            z-index: 1

            +tablet
                width: 55px
                height: 55px

            +mobile
                width: 55px
                height: 55px
a
    color: $fontHighlightColor
    text-decoration: none

    &:hover,
    &:focus
        color: $fontHighlightColor
        text-decoration: none

p
    margin: 0

section

    .title
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 30px

        +mobile
            margin-bottom: 15px

        i
            display: none
            width: 60px
            height: 1px
            background-color: $tertiaryColor
            background-image: url(../../assets/icons/line_lg.svg)
            background-size: contain
            background-repeat: no-repeat
            margin-right: 10px
            margin-top: -8px

            +mobile
                width: 29px
                height: 1px
                background-color: $tertiaryColor
                background-image: url(../../assets/icons/line.svg)

        h2
            font-family: 'GothamRounded'
            font-size: $fontSize - 3
            color: $fontAccentColor
            text-align: center

    .go-to
            display: table
            margin: 0 auto
            background-color: $primaryColor
            font-size: $fontSize - 4
            color: $fontSecondaryColor
            padding: 6px 30px
            border-radius: 20px

            +tablet
                font-size: $fontSize - 4
                padding: 7px 40px

            +mobile
                font-size: $fontSize - 5
                padding: 7px 40px

// Bootstrap
.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid
    margin-left: 0
    margin-right: 0

.no-gutter.container-fluid,
.no-gutter > [class^="col-"]
    padding-left: 0
    padding-right: 0

// Custom
.mobile-only
    display: none

    +mobile
        display: block

.desktop-only
    display: block

    +mobile
        display: none