/* GENERAL */

*
    font-size: $fontSize
    font-family: 'GothamRounded'
    font-style: normal
    font-weight: normal

body
    overflow-x: hidden
    background-color: $secondaryColor
    color: $fontPrimaryColor

a
    color: $fontHighlightColor
    text-decoration: none

    &:hover,
    &:focus
        color: $fontHighlightColor
        text-decoration: none

p
    margin: 0

section

    .title
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 30px

        +mobile
            margin-bottom: 15px

        i
            display: block
            width: 60px
            height: 1px
            background-color: $tertiaryColor
            background-image: url(../../assets/icons/line_lg.svg)
            background-size: contain
            background-repeat: no-repeat
            margin-right: 10px
            margin-top: -8px

            +mobile
                width: 29px
                height: 1px
                background-color: $tertiaryColor
                background-image: url(../../assets/icons/line.svg)

        h2
            font-family: 'GothamRounded'
            font-size: $fontSize - 3
            color: $fontAccentColor
            text-align: center

// Bootstrap
.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid
    margin-left: 0
    margin-right: 0

.no-gutter>[class^="col-"]
    padding-left: 0
    padding-right: 0

// Custom
.mobile-only
    display: none

    +mobile
        display: block

.desktop-only
    display: block

    +mobile
        display: none
