/* HEADER */
header
    position: relative
    width: 100%
    height: 0
    background: url('../../assets/images/hero_mobile.jpg') center/cover no-repeat
    z-index: 1

    +tablet
        width: 100%
        height: 100vh
        min-height: 600px

    +mobile
        width: 100%
        height: 100vh
        min-height: 600px

    .overlay
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.3)

    .content
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        text-align: center
        color: $fontSecondaryColor

        +tablet
            max-width: 280px

        h2
            font-size: $fontSize * 4 + 6
            margin-bottom: 15px

            +tablet
                font-size: $fontSize * 3

            +mobile
                font-size: $fontSize * 3

        p
            font-size: $fontSize

            +tablet
                font-size: $fontSize - 2

            +mobile
                font-size: $fontSize - 2

    nav
        position: fixed
        top: 0
        width: 100%
        height: 115px
        background-color: $fourthColor
        transition: $transition

        +tablet
            position: relative
            height: auto

        +mobile
            position: relative
            height: auto

        .logo
            position: absolute
            left: 60px
            top: 25px
            width: 256px
            height: 67px
            background-image: url(../../assets/icons/logo.svg)
            background-size: contain
            background-repeat: no-repeat

            +tablet
                background-image: url(../../assets/icons/logo_light.svg)
                width: 243px
                height: 64px
                left: 50%
                top: calc(100vh / 2 - 24px)
                transform: translate(-50%, -50%)

            +mobile
                background-image: url(../../assets/icons/logo_light.svg)
                left: 50%
                top: calc(100vh / 2 - 24px)
                width: 243px
                height: 64px
                transform: translate(-50%, -50%)

            h1
                text-indent: -9999px

        ul
            display: flex
            width: 50%
            margin-top: 44px
            margin-right: 60px
            justify-content: space-between
            float: right

            +tablet
                display: none

            +mobile
                display: none

            li
                list-style: none

                a
                    color: $fontHighlightColor
                    font-size: $fontSize - 3

                    &:hover,
                    &:focus
                        color: $fontHighlightColor
                        text-decoration: none
                        font-weight: bold

                    &.active
                        font-weight: bold

        p
            display: none

        .btn-menu-open
            background-color: transparent
            cursor: pointer
            position: fixed
            right: 50%
            top: 135px
            width: 40px
            padding: 10px 8px 10px 11px
            border-radius: 5px
            display: none
            flex-direction: column
            align-items: center
            justify-content: center
            transform: translateX(50%)
            transition: $transition

            i
                width: 25px
                height: 15px
                background-image: url(../../assets/icons/icon_menu.svg)
                background-size: contain
                background-repeat: no-repeat

            +tablet
                display: flex

            +mobile
                display: flex

            &.btn-menu-close
                right: 50%
                transform: translateX(50%)

                +minimum-height
                    top: 30px

                i
                    width: 23px
                    height: 32px
                    background-image: url(../../assets/icons/icon_x.svg)
                    background-size: contain
                    background-repeat: no-repeat

        &.scrolled
            background-color: $fourthColor

            .btn-menu-open
                background-color: $fourthColor
                top: 15px
                right: 30px

                +tablet
                    right: 45px

                &.btn-menu-close
                    right: 50%
                    transform: translateX(50%)

        &.open-mobile
            position: fixed
            top: 0
            background-color: $fourthColor
            width: 100%
            height: 100vh
            z-index: 2

            a.logo
                display: block
                top: unset
                left: 50%
                bottom: 0
                width: 100%
                heaight: 0
                padding-bottom: calc(100% / 3.8)
                transform: translateX(-50%)
                background-image: url(../../assets/icons/logo_min.svg)
                background-position-y: bottom
                background-size: contain

                +minimum-height
                    top: 30px

            .btn-menu-open
                top: 140px

                +minimum-height
                    top: 40px

            ul
                display: block
                position: absolute
                left: 50%
                top: 50%
                transform: translate(-50%, -50%)
                margin: 0
                padding: 0

                li
                    display: block
                    margin-right: 0
                    text-align: center

                    &.logo-nav
                        display: none

                    &:last-of-type
                        margin-bottom: 0

                    +tablet
                        margin-bottom: 30px

                    +mobile
                        margin-bottom: 30px

                    +minimum-height
                        margin-bottom: 15px

                    a
                        font-size: $fontSize + 10
                        text-align: center
                        color: $fontPrimaryColor

                        +minimum-height
                            font-size: $fontSize - 2

                        &:hover,
                        &.active
                            font-weight: bold

            p
                position: absolute
                width: 100%
                bottom: 130px
                left: 50%
                display: none
                text-align: center
                transform: translateX(-50%)
                color: $fontSecondaryColor
                font-weight: 300

                +minimum-height
                    bottom: 30px

                +tablet
                    display: block

                +mobile
                    display: block