// Mixins
$xs: 320
$sm: 767
$md: 992
$lg: 1200

=small-device
    @media (max-width: #{$xs}px)
        @content

=mobile
    @media (max-width: #{$sm}px)
        @content

=tablet
    @media (min-width: #{$sm + 1}px) and (max-width: #{$md}px)
        @content

=desktop
    @media (min-width: #{$md + 1}px) and (max-width: #{$lg})
        @content