// Colors
$primaryColor: #C8A98A
$accentColor: #314D69
$secondaryColor: #FFF
$fontPrimaryColor: #313131
$fontAccentColor: #5E6661
$fontSecondaryColor: #FFF
$fontHighlightColor: #314D69

// Sizes
$fontSize: 16px