// Colors
$primaryColor: #C8A98A
$accentColor: #314D69
$secondaryColor: #FFF
$fontPrimaryColor: #313131
$fontAccentColor: #5E6661
$fontSecondaryColor: #FFF
$fontHighlightColor: #314D69
$fontSecondaryAccentColor: #9A9A9A

// Sizes
$fontSize: 16px

// Transitions
$transition: .5s ease

// Animation
$preload-animation: opacity 1s infinite