/* COMPANY */
section#la-empresa
    background-color: $secondaryColor

    .intro
        align-items: center
        margin-left: 90px

        +tablet
            margin-left: 0
            padding: 60px 60px

        +mobile
            margin-left: 0
            padding: 60px 45px 45px

        .title
            justify-content: flex-start

            h2
                color: $fontAccentColor

                +mobile
                    text-align: left

        h3
            font-size: $fontSize * 2 + 6
            color: $fontAccentColor
            margin-bottom: 15px

            +tablet
                font-size: $fontSize * 2
                color: $fontFifthColor

            +mobile
                font-size: $fontSize * 2 - 2
                color: $fontFifthColor
                font-weight: normal

            +small-device
                font-size: $fontSize * 2 - 10

        p
            font-size: $fontSize
            color: $fontPrimaryColor
            opacity: 0.74
            margin-bottom: 15px

            &:first-of-type
                font-size: $fontSize
                font-weight: bold

            &:last-of-type
                font-size: $fontSize - 4
                margin-bottom: 30px

            +mobile
                font-size: $fontSize - 5

    .content

        h3
            font-size: $fontSize - 3
            color: $fontAccentColor
            text-align: left
            margin-bottom: 30px

        .values
            background-color: $fourthColor
            padding: 90px

            +tablet
                color: $fontSecondaryColor
                font-size: $fontSize - 3
                padding: 60px

            +mobile
                color: $fontSecondaryColor
                font-size: $fontSize - 3
                padding: 60px 45px

            h4
                font-size: $fontSize + 6
                color: $fontfourthColor
                margin-bottom: 30px

                +mobile
                    font-size: $fontSize * 2 + 5

            p
                font-size: $fontSize - 2
                color: $fontHighlightColor
                opacity: .8

                &:first-of-type
                    font-size: $fontSize 
                    font-weight: bold
                    margin-bottom: 15px

                &:last-of-type
                    font-size: $fontSize - 4

                +mobile
                    font-size: $fontSize - 4

        .attributes
            background: url(../../assets/images/attribures.jpg) no-repeat center
            background-size: cover
            position: relative

            +tablet
                font-size: $fontSize - 3
                padding: 60px 45px 45px

            +mobile
                padding: 60px 45px

            .overlay
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                background-color: rgba(0, 0, 0, 0.3)

            .attribute

                h4
                    font-size: $fontSize + 2
                    color: $fontSecondaryColor
                    text-align: center

                    +mobile
                        font-size: $fontSize * 2 - 6

                i
                    display: block
                    height: 1px
                    width: 201px
                    background-color: $secondaryColor
                    margin: 30px auto 45px