/* COMPANY */
section#la-empresa
    background-color: $secondaryColor

    .intro
        align-items: center

        .title
            justify-content: flex-start

            h2

                +mobile
                    text-align: left

        h3
            font-weight: bold
            font-size: $fontSize * 2 + 6
            margin-bottom: 30px

            +tablet
                font-size: $fontSize * 2

            +mobile
                font-size: $fontSize + 4
                margin-bottom: 30px

            +small-device
                font-size: $fontSize * 2 - 10

        p
            font-size: $fontSize
            margin-bottom: 15px

            &:last-of-type
                margin-bottom: 0

            +mobile
                font-size: $fontSize - 4

    .content

        h3
            font-size: $fontSize + 4
            font-weight: bold
            text-align: center
            margin-bottom: 60px

        .values
            background-color: $fourthColor
            padding: 60px

            +mobile
                background-color: $accentColor
                color: $fontSecondaryColor

            span
                font-size: $fontSize - 3
                color: $fontfourthColor

            h4
                font-size: $fontSize + 6
                font-weight: bold

            p
                font-size: $fontSize - 2

        .attributes
            background-color: $fourthColor
            padding: 60px

            .centralized
                margin: 0 auto

            .icon
                display: block
                background-size: contain
                background-repeat: no-repeat
                margin: 0 auto 15px

                &.family
                    width: 48px
                    height: 52px
                    background-image: url(../../assets/icons/icon_family.svg)

                &.buildings
                    width: 68px
                    height: 48px
                    background-image: url(../../assets/icons/icon_buildings.png)

            h4
                font-size: $fontSize + 2
                text-align: center

                b
                    font-size: $fontSize * 2 - 4