/* CONTACT */
section#contacto
    background-color: $secondaryColor
    padding: 90px

    +tablet
        padding: 60px

    +mobile
        padding: 60px 30px

    .title
        justify-content: flex-start

        +mobile
            margin-bottom: 15px

        h2

            +mobile
                text-align: left

    .centralized
        display: table
        margin: 0 auto

        +mobile
            display: block

    .info

        +mobile
            margin-bottom: 30px

        &:first-of-type
            margin-bottom: 45px

            +mobile
                margin-bottom: 30px

        &:last-child
            margin-bottom: 0

        &.rrhh
            display: flex
            gap: 15px

            +mobile
                margin-top: 30px

    h3
        font-family: 'GothamRounded'
        font-weight: bold
        font-size: $fontSize * 2 + 4

        +tablet
            font-size: $fontSize + 6

        +mobile
            font-size: $fontSize + 8
            margin-bottom: 30px

        +small-device
            font-size: $fontSize * 2 - 10

    a
        font-family: 'GothamRounded'
        font-size: $fontSize - 2
        color: $fontDarkerColor

        +mobile
            font-size: $fontSize + 1

        &.highlighted
            color: $fontAccentColor
            font-weight: bold

        &:hover
            text-decoration: underline

    .icon
        display: block
        background-size: contain
        background-repeat: no-repeat

        &.ig
            width: 20px
            height: 20px
            background-image: url(../../assets/icons/icon_ig.svg)
            margin-right: 10px

        &.ln
            width: 21px
            height: 20px
            background-image: url(../../assets/icons/icon_ln.svg)