/* SERVICES */
section#servicios

    .services
        background-color: $accentColor

        .slider-container
            display: none
            position: relative

            +mobile
                display: block

            .indicator
                position: absolute
                font-size: $fontSize - 3
                font-weight: 300
                color: $fontSecondaryColor
                text-align: center
                left: 50%
                bottom: -60px
                transform: translateX(-50%)

                .current
                    font-weight: bold

        .slider

            +mobile
                display: flex
                margin-bottom: 120px

    .row
        background-color: $accentColor
        padding-left: 90px
        padding-right: 90px

        +tablet
            padding-left: 60px
            padding-right: 60px

        +mobile
            padding-left: 45px
            padding-right: 45px

        &:first-child
            padding-top: 90px

            +mobile
                padding-top: 60px

        &:last-child
            padding-bottom: 90px

            +mobile
                padding-top: 30px
                padding-bottom: 45px

        &.items

            +mobile
                display: none

    .title
        display: block

        h2
            color: $fontSecondaryColor
            margin-bottom: 90px

            +mobile
                text-align: left
                margin-bottom: 45px

    .item
        margin-bottom: 90px

        +mobile
            margin-bottom: 60px

        &:nth-child(3)

            p

                +tablet
                    max-width: 260px

    h3
        font-size: $fontSize + 4
        font-weight: bold
        color: $fontSecondaryColor
        text-align: center
        margin-bottom: 15px

    p
        font-size: $fontSize - 2
        color: $fontSecondaryColor
        text-align: center
        max-width: 290px
        margin-left: auto
        margin-right: auto

    .icon
        display: block
        background-size: contain
        background-repeat: no-repeat
        margin: 0 auto 15px

        &.coaching
            width: 48px
            height: 52px
            background-image: url(../../assets/icons/icon_coaching.svg)

        &.analytics
            width: 68px
            height: 48px
            background-image: url(../../assets/icons/icon_analytics.svg)

        &.studies
            width: 48px
            height: 52px
            background-image: url(../../assets/icons/icon_studies.svg)

        &.rates
            width: 68px
            height: 48px
            background-image: url(../../assets/icons/icon_rates.svg)

        &.project-manager
            width: 48px
            height: 52px
            background-image: url(../../assets/icons/icon_project_manager.svg)

    .contact

        +mobile
            background-color: $accentColor