/* SERVICES */
section#servicios

    .services
        background-color: $accentColor
        padding: 90px

        +mobile
            padding: 60px 45px

    .title
        display: block

        h2
            color: $fontSecondaryColor
            margin-bottom: 90px

            +mobile
                text-align: left
                margin-bottom: 45px

    .item
        border-bottom: 1px solid $fontSecondaryColor
        padding-top: 20px
        padding-bottom: 15px
        width: 100%

        &.active

            p
                padding-bottom: 15px

            i
                transform: rotate(90deg)

        &:last-of-type
            border: none
            margin-bottom: 45px

        h3
            font-size: $fontSize + 4
            color: $fontSecondaryColor

            +mobile
                font-size: $fontSize - 3

        p
            display: none
            font-size: $fontSize - 2
            font-weight: 300
            color: $fontSecondaryColor

            +mobile
                font-size: $fontSize - 5

        i
            display: block
            background: url(../../assets/icons/icon_right.svg) no-repeat center
            width: 13px
            height: 14px
            float: right
            transition: $transition