/* TEAM */
section#equipo
    background-color: $secondaryColor
    padding: 90px 90px 60px

    +desktop
        padding: 60px 0

    +tablet
        padding: 45px 0 45px

    +mobile
        padding: 60px 30px 30px

    .title
        justify-content: flex-start

        +desktop
            margin-bottom: 15px

        +tablet
            justify-content: flex-start
            margin-bottom: 15px

        +mobile
            justify-content: center
            margin-bottom: 30px

        h2

            +tablet
                text-align: left

            +mobile
                text-align: left

    .member
        align-items: center
        margin-bottom: 60px

        +mobile
            margin-bottom: 30px

        &:nth-of-type(2n+1)

            img
                padding-right: 30px

                +mobile
                    padding-right: 0

            .bio
                padding-right: 45px
                max-width: 900px

                +tablet
                    padding-right: 45px

        &:nth-of-type(2n)

            .bio
                padding-left: 45px
                padding-right: 45px

                +tablet
                    padding-left: 45px
                    padding-right: 45px

                +mobile
                    padding-right: 0

        &:last-of-type
            margin-bottom: 0

        h3
            font-size: $fontSize * 2
            font-weight: bold
            margin-bottom: 10px

            +desktop
                font-size: $fontSize * 2 - 6
                margin-bottom: 5px

            +tablet
                font-size: $fontSize + 4
                margin-bottom: 5px

            +mobile
                font-size: $fontSize + 4
                margin-bottom: 0

        h4
            font-size: $fontSize + 4

            +desktop
                font-size: $fontSize + 2

            +tablet
                font-size: $fontSize - 3

            +mobile
                font-size: $fontSize - 2
                margin-bottom: 20px

        p
            font-size: $fontSize - 1

            +desktop
                font-size: $fontSize - 2

            +tablet
                font-size: $fontSize - 5

            +mobile
                font-size: $fontSize - 5

        .bio
            position: relative
            line-height: 1

            +tablet
                padding: 0

            +mobile
                padding: 30px 15px 0

            a.icon
                display: flex
                background-size: contain
                background-repeat: no-repeat
                margin-top: 15px
                align-items: center

                +tablet
                    margin-top: 5px

                +mobile
                    margin-top: 0
                    position: absolute
                    top: 30px
                    right: 0

                &.ln
                    width: 19px
                    height: 18px
                    right: 15px
                    background-image: url(../../assets/icons/icon_ln.svg)

                    +tablet
                        width: 16px
                        height: 15px