/* FONTS */
@font-face {
  font-family: "GothamRounded";
  src: url("../../assets/fonts/GothamRounded-Light.eot");
  src: url("../fonts/GothamRounded-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/GothamRounded-Light.otf") format("otf"), url("../../assets/fonts/GothamRounded-Light.svg#GothamRounded-Light") format("svg"), url("../../assets/fonts/GothamRounded-Light.ttf") format("truetype"), url("../../assets/fonts/GothamRounded-Light.woff") format("woff"), url("../../assets/fonts/GothamRounded-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../../assets/fonts/GothamRounded-Book.eot");
  src: url("../fonts/GothamRounded-Book.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/GothamRounded-Book.otf") format("otf"), url("../../assets/fonts/GothamRounded-Book.svg#GothamRounded-Book") format("svg"), url("../../assets/fonts/GothamRounded-Book.ttf") format("truetype"), url("../../assets/fonts/GothamRounded-Book.woff") format("woff"), url("../../assets/fonts/GothamRounded-Book.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../../assets/fonts/GothamRounded-Bold.eot");
  src: url("../fonts/GothamRounded-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/GothamRounded-Bold.otf") format("otf"), url("../../assets/fonts/GothamRounded-Bold.svg#GothamRounded-Bold") format("svg"), url("../../assets/fonts/GothamRounded-Bold.ttf") format("truetype"), url("../../assets/fonts/GothamRounded-Bold.woff") format("woff"), url("../../assets/fonts/GothamRounded-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Macan-Stencil-Trial";
  src: url("../../assets/fonts/Macan-Stencil-Trial-Regular.eot");
  src: url("../fonts/Macan-Stencil-Trial-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.otf") format("otf"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.svg#Macan-Stencil-Trial-Regular") format("svg"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.ttf") format("truetype"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.woff") format("woff"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Macan-Stencil-Trial";
  src: url("../../assets/fonts/Macan-Stencil-Trial-Thin.eot");
  src: url("../fonts/Macan-Stencil-Trial-Thin.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.otf") format("otf"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.svg#Macan-Stencil-Trial-Thin") format("svg"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.ttf") format("truetype"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.woff") format("woff"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
/* GENERAL */
* {
  font-size: 16px;
  font-family: "GothamRounded";
  font-style: normal;
  font-weight: normal;
}

body {
  overflow-x: hidden;
  background-color: #FFF;
  color: #313131;
}
body.no-scroll {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

a {
  color: #314D69;
  text-decoration: none;
}
a:hover, a:focus {
  color: #314D69;
  text-decoration: none;
}

p {
  margin: 0;
}

section .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  section .title {
    margin-bottom: 15px;
  }
}
section .title i {
  display: block;
  width: 60px;
  height: 1px;
  background-color: #5E6661;
  background-image: url(../../assets/icons/line_lg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-top: -8px;
}
@media (max-width: 767px) {
  section .title i {
    width: 29px;
    height: 1px;
    background-color: #5E6661;
    background-image: url(../../assets/icons/line.svg);
  }
}
section .title h2 {
  font-family: "GothamRounded";
  font-size: 13px;
  color: #5E6661;
  text-align: center;
}

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter.container-fluid,
.no-gutter > [class^=col-] {
  padding-left: 0;
  padding-right: 0;
}

.mobile-only {
  display: none;
}
@media (max-width: 767px) {
  .mobile-only {
    display: block;
  }
}

.desktop-only {
  display: block;
}
@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}

/* LOADER */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #C8A98A;
  z-index: 9997;
}
#loader .wall {
  background-color: #C8A98A;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 9998;
}
#loader .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* HEADER */
header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../../assets/images/hero.jpg") center/cover no-repeat;
  z-index: 1;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
header .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFF;
}
@media (min-width: 768px) and (max-width: 1080px) {
  header .content {
    max-width: 280px;
  }
}
header .content h2 {
  font-size: 70px;
  margin-bottom: 15px;
}
@media (min-width: 768px) and (max-width: 1080px) {
  header .content h2 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  header .content h2 {
    font-size: 48px;
  }
}
header .content p {
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 1080px) {
  header .content p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  header .content p {
    font-size: 14px;
  }
}
header nav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s ease;
}
@media (min-width: 768px) and (max-width: 1080px) {
  header nav {
    position: relative;
  }
}
@media (max-width: 767px) {
  header nav {
    position: relative;
  }
}
header nav .logo {
  position: absolute;
  left: 60px;
  top: 60px;
  width: 256px;
  height: 68px;
  background-image: url(../../assets/icons/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) and (max-width: 1080px) {
  header nav .logo {
    left: 50%;
    top: 130px;
    transform: translateX(-50%);
  }
}
@media (max-width: 767px) {
  header nav .logo {
    left: 50%;
    top: 130px;
    width: 188px;
    height: 49px;
    transform: translateX(-50%);
  }
}
header nav .logo h1 {
  text-indent: -9999px;
}
header nav ul {
  display: flex;
  width: 50%;
  margin-top: 75px;
  margin-right: 60px;
  justify-content: space-between;
  float: right;
}
@media (min-width: 768px) and (max-width: 1080px) {
  header nav ul {
    display: none;
  }
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  color: #FFF;
  font-size: 13px;
}
header nav ul li a:hover, header nav ul li a:focus {
  color: #FFF;
  -webkit-text-decoration: #FFF;
          text-decoration: #FFF;
  font-weight: bold;
}
header nav ul li a.active {
  font-weight: bold;
}
header nav p {
  display: none;
}
header nav .btn-menu-open {
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 140px;
  width: 40px;
  padding: 10px;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}
@media (max-width: 767px) {
  header nav .btn-menu-open {
    display: flex;
  }
}
header nav .btn-menu-open span {
  background-color: #FFF;
  display: block;
  margin-bottom: 10px;
  height: 1px;
  transition: 0.5s ease;
  width: 30px;
}
header nav .btn-menu-open span:last-of-type {
  margin-bottom: 0;
}
header nav .btn-menu-open.btn-menu-close span:nth-of-type(1) {
  transform: rotate(40deg);
  transform-origin: 13px 0;
}
header nav .btn-menu-open.btn-menu-close span:nth-of-type(2) {
  transform: rotate(-40deg);
  transform-origin: 0 0;
}
header nav.scrolled {
  height: 70px;
  background-color: #C8A98A;
}
header nav.scrolled .logo {
  width: 224px;
  height: 59px;
  top: 6px;
}
header nav.scrolled ul {
  margin-top: 20px;
}
header nav.scrolled ul li > a {
  font-size: 13px;
}
@media (min-width: 768px) and (max-width: 1080px) {
  header nav.scrolled {
    background-color: transparent;
  }
}
@media (max-width: 767px) {
  header nav.scrolled {
    background-color: transparent;
  }
}
header nav.scrolled .btn-menu-open {
  background-color: #C8A98A;
  top: 15px;
  right: 15px;
}
header nav.open-mobile {
  background-color: #C8A98A;
  height: 100vh;
  top: 0;
  position: fixed;
  width: 100%;
}
header nav.open-mobile .logo {
  left: 50%;
  top: 130px;
  width: 188px;
  height: 49px;
  transform: translateX(-50%);
}
header nav.open-mobile .btn-menu-open {
  top: 140px;
}
header nav.open-mobile ul {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
header nav.open-mobile ul li {
  display: block;
  margin-right: 0;
  text-align: center;
}
header nav.open-mobile ul li.logo-nav {
  display: none;
}
header nav.open-mobile ul li:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  header nav.open-mobile ul li {
    margin-bottom: 30px;
  }
}
header nav.open-mobile ul li a {
  font-size: 18px;
  text-align: center;
}
header nav.open-mobile ul li a:hover, header nav.open-mobile ul li a.active {
  font-weight: bold;
}
@media (max-width: 767px) {
  header nav.open-mobile p {
    position: absolute;
    width: 100%;
    bottom: 130px;
    left: 50%;
    display: block;
    text-align: center;
    transform: translateX(-50%);
    color: #FFF;
    font-weight: 300;
  }
}

/* COMPANY */
section#la-empresa {
  background-color: #FFF;
}
section#la-empresa .intro {
  align-items: center;
}
section#la-empresa .intro .title {
  justify-content: flex-start;
}
@media (max-width: 767px) {
  section#la-empresa .intro .title h2 {
    text-align: left;
  }
}
section#la-empresa .intro h3 {
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 1080px) {
  section#la-empresa .intro h3 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  section#la-empresa .intro h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  section#la-empresa .intro h3 {
    font-size: 22px;
  }
}
section#la-empresa .intro p {
  font-size: 16px;
  margin-bottom: 15px;
}
section#la-empresa .intro p:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  section#la-empresa .intro p {
    font-size: 12px;
  }
}
section#la-empresa .content h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}
section#la-empresa .content .values {
  background-color: #E5E5E5;
  padding: 60px;
}
@media (max-width: 767px) {
  section#la-empresa .content .values {
    background-color: #314D69;
    color: #FFF;
  }
}
section#la-empresa .content .values span {
  font-size: 13px;
  color: #C4C4C4;
}
section#la-empresa .content .values h4 {
  font-size: 22px;
  font-weight: bold;
}
section#la-empresa .content .values p {
  font-size: 14px;
}
section#la-empresa .content .attributes {
  background-color: #E5E5E5;
  padding: 60px;
}
section#la-empresa .content .attributes .centralized {
  margin: 0 auto;
}
section#la-empresa .content .attributes .icon {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto 15px;
}
section#la-empresa .content .attributes .icon.family {
  width: 48px;
  height: 52px;
  background-image: url(../../assets/icons/icon_family.svg);
}
section#la-empresa .content .attributes .icon.buildings {
  width: 68px;
  height: 48px;
  background-image: url(../../assets/icons/icon_buildings.png);
}
section#la-empresa .content .attributes h4 {
  font-size: 18px;
  text-align: center;
}
section#la-empresa .content .attributes h4 b {
  font-size: 28px;
}

/* SERVICES */
section#servicios .row {
  background-color: #C8A98A;
}
section#servicios .row:first-of-type {
  padding-top: 60px;
}
@media (max-width: 767px) {
  section#servicios .row:last-of-type {
    margin: 30px 0 0;
  }
}
section#servicios .title {
  display: block;
}
section#servicios .title h2 {
  color: #FFF;
  margin-bottom: 60px;
}
section#servicios .item {
  margin-bottom: 30px;
}
section#servicios h3 {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  margin-bottom: 15px;
}
section#servicios p {
  font-size: 14px;
  color: #FFF;
  text-align: center;
}
section#servicios .icon {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto 15px;
}
section#servicios .icon.coaching {
  width: 48px;
  height: 52px;
  background-image: url(../../assets/icons/icon_coaching.svg);
}
section#servicios .icon.analytics {
  width: 68px;
  height: 48px;
  background-image: url(../../assets/icons/icon_analytics.svg);
}
section#servicios .icon.studies {
  width: 48px;
  height: 52px;
  background-image: url(../../assets/icons/icon_studies.svg);
}
section#servicios .icon.rates {
  width: 68px;
  height: 48px;
  background-image: url(../../assets/icons/icon_rates.svg);
}
section#servicios .icon.project-manager {
  width: 48px;
  height: 52px;
  background-image: url(../../assets/icons/icon_project_manager.svg);
}
@media (max-width: 767px) {
  section#servicios .contact {
    background-color: #FFF;
  }
}
section#servicios .contact .go-to {
  display: table;
  margin: 30px auto 0;
  background-color: #FFF;
  color: #314D69;
  padding: 2px 20px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px 0;
}
@media (max-width: 767px) {
  section#servicios .contact .go-to {
    background-color: #314D69;
    color: #FFF;
  }
}

/* TEAM */
section#equipo {
  background-color: #FFF;
  padding: 80px 0;
}
section#equipo .title {
  justify-content: flex-start;
}
@media (max-width: 767px) {
  section#equipo .title {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  section#equipo .title h2 {
    text-align: left;
  }
}
section#equipo .member {
  align-items: center;
}
section#equipo .member:first-of-type {
  margin-bottom: 60px;
}
section#equipo .member h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}
section#equipo .member h4 {
  font-size: 20px;
}
section#equipo .member p {
  font-size: 15px;
}
section#equipo .member .icon {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 15px;
}
section#equipo .member .icon.ln {
  width: 16px;
  height: 15px;
  background-image: url(../../assets/icons/icon_ln.svg);
}

/* PROJECTS */
section#proyectos {
  background-color: #314D69;
  padding: 60px;
}
section#proyectos .title {
  margin-bottom: 0;
}
section#proyectos .title h2 {
  color: #FFF;
  margin-bottom: 60px;
}
section#proyectos .project {
  background-color: #FFF;
}
section#proyectos .project .data {
  background-color: #314D69;
  padding: 0 30px;
}
section#proyectos .project .data .info {
  position: relative;
  background-color: #FFF;
  max-width: 400px;
  margin: -40px auto 0;
  padding: 15px;
}
section#proyectos .project .data .info h3 {
  font-size: 14px;
  font-weight: bold;
  display: inline;
}
section#proyectos .project .data .info a {
  display: flex;
  align-items: center;
}
section#proyectos .project .data .info a.address {
  display: flex;
  font-weight: 300;
  font-size: 12px;
  color: #314D69;
}
section#proyectos .project .data .info a.more {
  font-size: 14px;
  font-weight: bold;
  float: right;
  color: #313131;
  line-height: 2;
}
section#proyectos .project .data .info a i {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
section#proyectos .project .data .info a i.marker {
  width: 12px;
  height: 12px;
  background-image: url(../../assets/icons/icon_marker.svg);
  margin-right: 5px;
}
section#proyectos .project .data .info a i.arrow {
  width: 12px;
  height: 12px;
  background-image: url(../../assets/icons/icon_arrow.svg);
  margin-left: 5px;
}

/* CONTACT */
section#contacto {
  background-color: #FFF;
  padding: 60px;
}
section#contacto .title {
  justify-content: flex-start;
}
@media (max-width: 767px) {
  section#contacto .title {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  section#contacto .title h2 {
    text-align: left;
  }
}
section#contacto .centralized {
  display: table;
  margin: 0 auto;
}
@media (max-width: 767px) {
  section#contacto .centralized {
    display: block;
  }
}
@media (max-width: 767px) {
  section#contacto .info {
    margin-bottom: 30px;
  }
}
section#contacto .info:first-of-type {
  margin-bottom: 45px;
}
@media (max-width: 767px) {
  section#contacto .info:first-of-type {
    margin-bottom: 30px;
  }
}
section#contacto .info:last-child {
  margin-bottom: 0;
}
section#contacto .info.rrhh {
  display: flex;
  gap: 15px;
}
@media (max-width: 767px) {
  section#contacto .info.rrhh {
    margin-top: 30px;
  }
}
section#contacto h3 {
  font-family: "GothamRounded";
  font-weight: bold;
  font-size: 36px;
}
@media (min-width: 768px) and (max-width: 1080px) {
  section#contacto h3 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  section#contacto h3 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  section#contacto h3 {
    font-size: 22px;
  }
}
section#contacto a {
  font-family: "GothamRounded";
  font-size: 14px;
  color: #08110C;
}
section#contacto a.highlighted {
  color: #5E6661;
  font-weight: bold;
}
section#contacto a:hover {
  text-decoration: underline;
}
section#contacto .icon {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
section#contacto .icon.ig {
  width: 20px;
  height: 20px;
  background-image: url(../../assets/icons/icon_ig.svg);
  margin-right: 10px;
}
section#contacto .icon.ln {
  width: 21px;
  height: 20px;
  background-image: url(../../assets/icons/icon_ln.svg);
}

/* FOOTER */
footer {
  background-color: #C8A98A;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px 30px 90px;
}
@media (max-width: 767px) {
  footer {
    flex-direction: column;
    padding: 75px 30px 45px;
  }
}
footer a {
  width: 224px;
  height: 59px;
  background-image: url(../../assets/icons/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
@media (max-width: 767px) {
  footer a {
    width: 240px;
    height: 68px;
    margin-bottom: 45px;
  }
}
footer p, footer p > span {
  font-size: 11px;
}/*# sourceMappingURL=main.css.map */