/* FONTS */
@font-face {
  font-family: "GothamRounded";
  src: url("../../assets/fonts/GothamRounded-Light.eot");
  src: url("../fonts/GothamRounded-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/GothamRounded-Light.otf") format("otf"), url("../../assets/fonts/GothamRounded-Light.svg#GothamRounded-Light") format("svg"), url("../../assets/fonts/GothamRounded-Light.ttf") format("truetype"), url("../../assets/fonts/GothamRounded-Light.woff") format("woff"), url("../../assets/fonts/GothamRounded-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../../assets/fonts/GothamRounded-Book.eot");
  src: url("../fonts/GothamRounded-Book.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/GothamRounded-Book.otf") format("otf"), url("../../assets/fonts/GothamRounded-Book.svg#GothamRounded-Book") format("svg"), url("../../assets/fonts/GothamRounded-Book.ttf") format("truetype"), url("../../assets/fonts/GothamRounded-Book.woff") format("woff"), url("../../assets/fonts/GothamRounded-Book.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../../assets/fonts/GothamRounded-Bold.eot");
  src: url("../fonts/GothamRounded-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/GothamRounded-Bold.otf") format("otf"), url("../../assets/fonts/GothamRounded-Bold.svg#GothamRounded-Bold") format("svg"), url("../../assets/fonts/GothamRounded-Bold.ttf") format("truetype"), url("../../assets/fonts/GothamRounded-Bold.woff") format("woff"), url("../../assets/fonts/GothamRounded-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Macan-Stencil-Trial";
  src: url("../../assets/fonts/Macan-Stencil-Trial-Regular.eot");
  src: url("../fonts/Macan-Stencil-Trial-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.otf") format("otf"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.svg#Macan-Stencil-Trial-Regular") format("svg"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.ttf") format("truetype"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.woff") format("woff"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Macan-Stencil-Trial";
  src: url("../../assets/fonts/Macan-Stencil-Trial-Thin.eot");
  src: url("../fonts/Macan-Stencil-Trial-Thin.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.otf") format("otf"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.svg#Macan-Stencil-Trial-Thin") format("svg"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.ttf") format("truetype"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.woff") format("woff"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
/* GENERAL */
* {
  font-size: 16px;
  font-family: "GothamRounded";
  font-style: normal;
  font-weight: normal;
}

body {
  overflow-x: hidden;
  background-color: #FFF;
  color: #313131;
}

a {
  color: #314D69;
  text-decoration: none;
}
a:hover, a:focus {
  color: #314D69;
  text-decoration: none;
}

p {
  margin: 0;
}

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter > [class^=col-] {
  padding-left: 0;
  padding-right: 0;
}

.mobile-only {
  display: none;
}
@media (max-width: 767px) {
  .mobile-only {
    display: block;
  }
}

.desktop-only {
  display: block;
}
@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}

/* HEADER */
header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../../assets/images/hero.jpg") center/cover no-repeat;
  z-index: 1;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
header .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFF;
}
@media (min-width: 768px) and (max-width: 1080px) {
  header .content {
    max-width: 280px;
  }
}
header .content h2 {
  font-size: 70px;
  margin-bottom: 15px;
}
@media (min-width: 768px) and (max-width: 1080px) {
  header .content h2 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  header .content h2 {
    font-size: 48px;
  }
}
header .content p {
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 1080px) {
  header .content p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  header .content p {
    font-size: 14px;
  }
}
header nav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s ease;
}
header nav .logo {
  position: absolute;
  left: 60px;
  top: 60px;
  width: 256px;
  height: 68px;
  background-image: url(../../assets/icons/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) and (max-width: 1080px) {
  header nav .logo {
    left: 50%;
    top: 130px;
    transform: translateX(-50%);
  }
}
@media (max-width: 767px) {
  header nav .logo {
    left: 50%;
    top: 130px;
    width: 188px;
    height: 49px;
    transform: translateX(-50%);
  }
}
header nav .logo h1 {
  text-indent: -9999px;
}
header nav ul {
  display: flex;
  width: 50%;
  margin-top: 75px;
  margin-right: 60px;
  justify-content: space-between;
  float: right;
}
@media (min-width: 768px) and (max-width: 1080px) {
  header nav ul {
    display: none;
  }
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  color: #FFF;
  font-weight: bold;
  font-size: 13px;
}
header nav ul li a:hover, header nav ul li a:focus {
  color: #FFF;
  -webkit-text-decoration: #FFF;
          text-decoration: #FFF;
}
header nav ul li a.active {
  color: #5E6661;
}
header nav.scrolled {
  height: 70px;
  background-color: #C8A98A;
}
header nav.scrolled .logo {
  width: 224px;
  height: 59px;
  top: 6px;
}
header nav.scrolled ul {
  margin-top: 20px;
}
header nav.scrolled ul li > a {
  font-size: 12px;
}
@media (min-width: 768px) and (max-width: 1080px) {
  header nav.scrolled {
    background-color: transparent;
  }
}
@media (max-width: 767px) {
  header nav.scrolled {
    background-color: transparent;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  header nav {
    position: relative;
  }
}
@media (max-width: 767px) {
  header nav {
    position: relative;
  }
}

/* COMPANY */
section#la-empresa {
  background-color: #FFF;
  padding: 0 0 60px 60px;
}
@media (max-width: 767px) {
  section#la-empresa {
    padding: 60px 30px;
  }
}
section#la-empresa .row {
  align-items: center;
}
section#la-empresa .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  section#la-empresa .title {
    margin-bottom: 15px;
  }
}
section#la-empresa .title i {
  display: block;
  width: 60px;
  height: 1px;
  background-color: #5E6661;
  background-image: url(../../assets/icons/line_lg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-top: -8px;
}
@media (max-width: 767px) {
  section#la-empresa .title i {
    width: 29px;
    height: 1px;
    background-color: #5E6661;
    background-image: url(../../assets/icons/line.svg);
  }
}
section#la-empresa .title h2 {
  font-family: "GothamRounded";
  font-size: 13px;
  color: #5E6661;
  text-align: center;
}
@media (max-width: 767px) {
  section#la-empresa .title h2 {
    text-align: left;
  }
}
section#la-empresa h3 {
  font-family: "GothamRounded";
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 1080px) {
  section#la-empresa h3 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  section#la-empresa h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  section#la-empresa h3 {
    font-size: 22px;
  }
}
section#la-empresa p {
  font-size: 16px;
}
@media (max-width: 767px) {
  section#la-empresa p {
    font-size: 12px;
    margin-bottom: 30px;
  }
}

/* SERVICES */
section#servicios {
  background-color: #C8A98A;
}

/* TEAM */
section#equipo {
  background-color: #FFF;
}

/* PROJECTS */
section#proyectos {
  background-color: #314D69;
}

/* CONTACT */
section#contacto {
  background-color: #FFF;
  padding: 80px 60px 100px 60px;
  max-width: 1400px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  section#contacto {
    padding: 60px 30px 45px;
  }
}
section#contacto .info:first-of-type {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  section#contacto .info:first-of-type {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  section#contacto .info {
    margin-bottom: 30px;
  }
}
section#contacto .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  section#contacto .title {
    justify-content: flex-start;
    margin-bottom: 15px;
  }
}
section#contacto .title i {
  display: block;
  width: 29px;
  height: 1px;
  background-image: url(../../assets/icons/line.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-top: -8px;
}
section#contacto .title h2 {
  font-family: "GothamRounded";
  font-size: 13px;
  color: #5E6661;
  text-align: center;
}
@media (max-width: 767px) {
  section#contacto .title h2 {
    text-align: left;
  }
}
section#contacto h3 {
  font-family: "GothamRounded";
  font-weight: bold;
  font-size: 38px;
}
@media (min-width: 768px) and (max-width: 1080px) {
  section#contacto h3 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  section#contacto h3 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  section#contacto h3 {
    font-size: 22px;
  }
}
section#contacto p {
  font-family: "GothamRounded";
  font-weight: bold;
}
section#contacto a {
  font-family: "GothamRounded";
  font-size: 14px;
}
section#contacto a:hover {
  text-decoration: underline;
}
section#contacto ul {
  list-style: none;
  display: contents;
}
section#contacto ul li {
  display: inline-block;
}
section#contacto ul li .icon {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
section#contacto ul li .ig {
  width: 20px;
  height: 20px;
  background-image: url(../../assets/icons/icon_ig.svg);
  margin-right: 10px;
}
section#contacto ul li .ln {
  width: 21px;
  height: 20px;
  background-image: url(../../assets/icons/icon_ln.svg);
}

/* FOOTER */
footer {
  background-color: #C8A98A;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px 30px 90px;
}
@media (max-width: 767px) {
  footer {
    flex-direction: column;
    padding: 75px 30px 45px;
  }
}
footer a {
  width: 224px;
  height: 59px;
  background-image: url(../../assets/icons/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
@media (max-width: 767px) {
  footer a {
    width: 240px;
    height: 68px;
    margin-bottom: 45px;
  }
}
footer p, footer p > span {
  font-size: 11px;
}/*# sourceMappingURL=main.css.map */