/* FONTS */
@font-face {
  font-family: "GothamRounded";
  src: url("../../assets/fonts/GothamRounded+Light.eot");
  src: url("../../assets/fonts/GothamRounded+Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/GothamRounded+Light.otf") format("otf"), url("../../assets/fonts/GothamRounded+Light.svg#GothamRounded+Light") format("svg"), url("../../assets/fonts/GothamRounded+Light.ttf") format("truetype"), url("../../assets/fonts/GothamRounded+Light.woff") format("woff"), url("../../assets/fonts/GothamRounded+Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../../assets/fonts/GothamRounded+Book.eot");
  src: url("../../assets/fonts/GothamRounded+Book.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/GothamRounded+Book.otf") format("otf"), url("../../assets/fonts/GothamRounded+Book.svg#GothamRounded+Book") format("svg"), url("../../assets/fonts/GothamRounded+Book.ttf") format("truetype"), url("../../assets/fonts/GothamRounded+Book.woff") format("woff"), url("../../assets/fonts/GothamRounded+Book.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../../assets/fonts/GothamRounded+Bold.eot");
  src: url("../../assets/fonts/GothamRounded+Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/GothamRounded+Bold.otf") format("otf"), url("../../assets/fonts/GothamRounded+Bold.svg#GothamRounded+Bold") format("svg"), url("../../assets/fonts/GothamRounded+Bold.ttf") format("truetype"), url("../../assets/fonts/GothamRounded+Bold.woff") format("woff"), url("../../assets/fonts/GothamRounded+Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Macan-Stencil-Trial";
  src: url("../../assets/fonts/Macan-Stencil-Trial-Regular.eot");
  src: url("../../assets/fonts/Macan-Stencil-Trial-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.otf") format("otf"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.svg#Macan-Stencil-Trial-Regular") format("svg"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.ttf") format("truetype"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.woff") format("woff"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Macan-Stencil-Trial";
  src: url("../../assets/fonts/Macan-Stencil-Trial-Thin.eot");
  src: url("../../assets/fonts/Macan-Stencil-Trial-Thin.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.otf") format("otf"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.svg#Macan-Stencil-Trial-Thin") format("svg"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.ttf") format("truetype"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.woff") format("woff"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}/*# sourceMappingURL=mains.css.map */