/* FONTS */
@font-face {
  font-family: "GothamRounded";
  src: url("../../assets/fonts/GothamRounded-Light.eot");
  src: url("../fonts/GothamRounded-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/GothamRounded-Light.otf") format("otf"), url("../../assets/fonts/GothamRounded-Light.svg#GothamRounded-Light") format("svg"), url("../../assets/fonts/GothamRounded-Light.ttf") format("truetype"), url("../../assets/fonts/GothamRounded-Light.woff") format("woff"), url("../../assets/fonts/GothamRounded-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../../assets/fonts/GothamRounded-Book.eot");
  src: url("../fonts/GothamRounded-Book.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/GothamRounded-Book.otf") format("otf"), url("../../assets/fonts/GothamRounded-Book.svg#GothamRounded-Book") format("svg"), url("../../assets/fonts/GothamRounded-Book.ttf") format("truetype"), url("../../assets/fonts/GothamRounded-Book.woff") format("woff"), url("../../assets/fonts/GothamRounded-Book.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../../assets/fonts/GothamRounded-Bold.eot");
  src: url("../fonts/GothamRounded-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/GothamRounded-Bold.otf") format("otf"), url("../../assets/fonts/GothamRounded-Bold.svg#GothamRounded-Bold") format("svg"), url("../../assets/fonts/GothamRounded-Bold.ttf") format("truetype"), url("../../assets/fonts/GothamRounded-Bold.woff") format("woff"), url("../../assets/fonts/GothamRounded-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Macan-Stencil-Trial";
  src: url("../../assets/fonts/Macan-Stencil-Trial-Regular.eot");
  src: url("../fonts/Macan-Stencil-Trial-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.otf") format("otf"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.svg#Macan-Stencil-Trial-Regular") format("svg"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.ttf") format("truetype"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.woff") format("woff"), url("../../assets/fonts/Macan-Stencil-Trial-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Macan-Stencil-Trial";
  src: url("../../assets/fonts/Macan-Stencil-Trial-Thin.eot");
  src: url("../fonts/Macan-Stencil-Trial-Thin.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.otf") format("otf"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.svg#Macan-Stencil-Trial-Thin") format("svg"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.ttf") format("truetype"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.woff") format("woff"), url("../../assets/fonts/Macan-Stencil-Trial-Thin.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
/* GENERAL */
* {
  font-size: 16px;
  font-family: "GothamRounded";
  font-style: normal;
  font-weight: normal;
}

body {
  overflow-x: hidden;
  background-color: #FFF;
  color: #313131;
  position: relative;
}
body.no-scroll {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body.no-scroll .icon.whatsapp {
  display: none;
}
body .icon.whatsapp {
  display: block;
  background: url(../../assets/icons/icon_whatsapp.svg) no-repeat center;
  width: 83px;
  height: 83px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 992px) {
  body .icon.whatsapp {
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 767px) {
  body .icon.whatsapp {
    width: 55px;
    height: 55px;
  }
}

a {
  color: #314D69;
  text-decoration: none;
}
a:hover, a:focus {
  color: #314D69;
  text-decoration: none;
}

p {
  margin: 0;
}

section .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  section .title {
    margin-bottom: 15px;
  }
}
section .title i {
  display: none;
  width: 60px;
  height: 1px;
  background-color: #5E6661;
  background-image: url(../../assets/icons/line_lg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-top: -8px;
}
@media (max-width: 767px) {
  section .title i {
    width: 29px;
    height: 1px;
    background-color: #5E6661;
    background-image: url(../../assets/icons/line.svg);
  }
}
section .title h2 {
  font-family: "GothamRounded";
  font-size: 13px;
  color: #5E6661;
  text-align: center;
}
section .go-to {
  display: table;
  margin: 0 auto;
  background-color: #C8A98A;
  font-size: 12px;
  color: #FFF;
  padding: 6px 30px;
  border-radius: 20px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section .go-to {
    font-size: 12px;
    padding: 7px 40px;
  }
}
@media (max-width: 767px) {
  section .go-to {
    font-size: 11px;
    padding: 7px 40px;
  }
}

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter.container-fluid,
.no-gutter > [class^=col-] {
  padding-left: 0;
  padding-right: 0;
}

.mobile-only {
  display: none;
}
@media (max-width: 767px) {
  .mobile-only {
    display: block;
  }
}

.desktop-only {
  display: block;
}
@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}

/* LOADER */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #C8A98A;
  z-index: 9997;
}
#loader .wall {
  background-color: #E5E5E5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 9998;
}
#loader .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* HEADER */
header {
  position: relative;
  width: 100%;
  height: 0;
  background: url("../../assets/images/hero_mobile.jpg") center/cover no-repeat;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 992px) {
  header {
    width: 100%;
    height: 100vh;
    min-height: 600px;
  }
}
@media (max-width: 767px) {
  header {
    width: 100%;
    height: 100vh;
    min-height: 600px;
  }
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
header .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFF;
}
@media (min-width: 768px) and (max-width: 992px) {
  header .content {
    max-width: 280px;
  }
}
header .content h2 {
  font-size: 70px;
  margin-bottom: 15px;
}
@media (min-width: 768px) and (max-width: 992px) {
  header .content h2 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  header .content h2 {
    font-size: 48px;
  }
}
header .content p {
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 992px) {
  header .content p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  header .content p {
    font-size: 14px;
  }
}
header nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 115px;
  background-color: #E5E5E5;
  transition: 0.5s ease;
}
@media (min-width: 768px) and (max-width: 992px) {
  header nav {
    position: relative;
    height: auto;
  }
}
@media (max-width: 767px) {
  header nav {
    position: relative;
    height: auto;
  }
}
header nav .logo {
  position: absolute;
  left: 60px;
  top: 25px;
  width: 256px;
  height: 67px;
  background-image: url(../../assets/icons/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) and (max-width: 992px) {
  header nav .logo {
    background-image: url(../../assets/icons/logo_light.svg);
    width: 243px;
    height: 64px;
    left: 50%;
    top: calc(50vh - 24px);
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 767px) {
  header nav .logo {
    background-image: url(../../assets/icons/logo_light.svg);
    left: 50%;
    top: calc(50vh - 24px);
    width: 243px;
    height: 64px;
    transform: translate(-50%, -50%);
  }
}
header nav .logo h1 {
  text-indent: -9999px;
}
header nav ul {
  display: flex;
  width: 50%;
  margin-top: 44px;
  margin-right: 60px;
  justify-content: space-between;
  float: right;
}
@media (min-width: 768px) and (max-width: 992px) {
  header nav ul {
    display: none;
  }
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  color: #314D69;
  font-size: 13px;
}
header nav ul li a:hover, header nav ul li a:focus {
  color: #314D69;
  text-decoration: none;
  font-weight: bold;
}
header nav ul li a.active {
  font-weight: bold;
}
header nav p {
  display: none;
}
header nav .btn-menu-open {
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  right: 50%;
  top: 135px;
  width: 40px;
  padding: 10px 8px 10px 11px;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(50%);
  transition: 0.5s ease;
}
header nav .btn-menu-open i {
  width: 25px;
  height: 15px;
  background-image: url(../../assets/icons/icon_menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) and (max-width: 992px) {
  header nav .btn-menu-open {
    display: flex;
  }
}
@media (max-width: 767px) {
  header nav .btn-menu-open {
    display: flex;
  }
}
header nav .btn-menu-open.btn-menu-close {
  right: 50%;
  transform: translateX(50%);
}
@media (max-height: 600px) {
  header nav .btn-menu-open.btn-menu-close {
    top: 30px;
  }
}
header nav .btn-menu-open.btn-menu-close i {
  width: 23px;
  height: 32px;
  background-image: url(../../assets/icons/icon_x.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
header nav.scrolled {
  height: 70px;
  background-color: #E5E5E5;
}
header nav.scrolled .logo {
  width: 224px;
  height: 59px;
  top: 6px;
}
header nav.scrolled ul {
  margin-top: 20px;
}
header nav.scrolled ul li > a {
  font-size: 13px;
  color: #08110C;
}
@media (min-width: 768px) and (max-width: 992px) {
  header nav.scrolled {
    background-color: transparent;
  }
}
@media (max-width: 767px) {
  header nav.scrolled {
    background-color: transparent;
  }
}
header nav.scrolled .btn-menu-open {
  background-color: #E5E5E5;
  top: 15px;
  right: 30px;
}
@media (min-width: 768px) and (max-width: 992px) {
  header nav.scrolled .btn-menu-open {
    right: 45px;
  }
}
header nav.scrolled .btn-menu-open.btn-menu-close {
  right: 50%;
  transform: translateX(50%);
}
header nav.open-mobile {
  position: fixed;
  top: 0;
  background-color: #E5E5E5;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
header nav.open-mobile a.logo {
  display: block;
  top: unset;
  left: 50%;
  bottom: 0;
  width: 100%;
  heaight: 0;
  padding-bottom: 26.3157894737%;
  transform: translateX(-50%);
  background-image: url(../../assets/icons/logo_min.svg);
  background-position-y: bottom;
  background-size: contain;
}
@media (max-height: 600px) {
  header nav.open-mobile a.logo {
    top: 30px;
  }
}
header nav.open-mobile .btn-menu-open {
  top: 140px;
}
@media (max-height: 600px) {
  header nav.open-mobile .btn-menu-open {
    top: 40px;
  }
}
header nav.open-mobile ul {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
header nav.open-mobile ul li {
  display: block;
  margin-right: 0;
  text-align: center;
}
header nav.open-mobile ul li.logo-nav {
  display: none;
}
header nav.open-mobile ul li:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 992px) {
  header nav.open-mobile ul li {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  header nav.open-mobile ul li {
    margin-bottom: 30px;
  }
}
@media (max-height: 600px) {
  header nav.open-mobile ul li {
    margin-bottom: 15px;
  }
}
header nav.open-mobile ul li a {
  font-size: 26px;
  text-align: center;
  color: #313131;
}
@media (max-height: 600px) {
  header nav.open-mobile ul li a {
    font-size: 14px;
  }
}
header nav.open-mobile ul li a:hover, header nav.open-mobile ul li a.active {
  font-weight: bold;
}
header nav.open-mobile p {
  position: absolute;
  width: 100%;
  bottom: 130px;
  left: 50%;
  display: none;
  text-align: center;
  transform: translateX(-50%);
  color: #FFF;
  font-weight: 300;
}
@media (max-height: 600px) {
  header nav.open-mobile p {
    bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header nav.open-mobile p {
    display: block;
  }
}
@media (max-width: 767px) {
  header nav.open-mobile p {
    display: block;
  }
}

/* COMPANY */
section#la-empresa {
  background-color: #FFF;
  margin-top: 115px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#la-empresa {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  section#la-empresa {
    margin-top: 0;
  }
}
section#la-empresa .intro {
  align-items: center;
  padding: 60px 0 60px 90px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#la-empresa .intro {
    margin-left: 0;
    padding: 45px 0 45px 60px;
  }
}
@media (max-width: 767px) {
  section#la-empresa .intro {
    margin-left: 0;
    padding: 60px 45px 45px;
  }
}
section#la-empresa .intro .title {
  justify-content: flex-start;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#la-empresa .intro .title {
    margin-bottom: 10px;
  }
}
section#la-empresa .intro .title h2 {
  color: #5E6661;
}
@media (max-width: 767px) {
  section#la-empresa .intro .title h2 {
    text-align: left;
  }
}
section#la-empresa .intro .text {
  padding-right: 45px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#la-empresa .intro .text {
    padding-right: 30px;
  }
}
section#la-empresa .intro .text h3 {
  font-size: 38px;
  color: #CAAD8E;
  margin-bottom: 15px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#la-empresa .intro .text h3 {
    font-size: 26px;
    color: #CAAD8E;
  }
}
@media (max-width: 767px) {
  section#la-empresa .intro .text h3 {
    font-size: 30px;
    color: #CAAD8E;
    font-weight: normal;
  }
}
@media (max-width: 320px) {
  section#la-empresa .intro .text h3 {
    font-size: 22px;
  }
}
section#la-empresa .intro .text p {
  font-size: 16px;
  color: #313131;
  opacity: 0.74;
  margin-bottom: 15px;
}
section#la-empresa .intro .text p:first-of-type {
  font-size: 16px;
  font-weight: bold;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#la-empresa .intro .text p:first-of-type {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  section#la-empresa .intro .text p:first-of-type {
    font-size: 14px;
  }
}
section#la-empresa .intro .text p:last-of-type {
  font-size: 12px;
  margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#la-empresa .intro .text p:last-of-type {
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  section#la-empresa .intro .text p:last-of-type {
    font-size: 13px;
  }
}
section#la-empresa .content h3 {
  font-size: 13px;
  color: #5E6661;
  text-align: left;
  margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#la-empresa .content h3 {
    margin-bottom: 15px;
  }
}
section#la-empresa .content .values {
  background-color: #E5E5E5;
  padding: 90px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#la-empresa .content .values {
    color: #FFF;
    font-size: 13px;
    padding: 45px 60px;
  }
}
@media (max-width: 767px) {
  section#la-empresa .content .values {
    color: #FFF;
    font-size: 13px;
    padding: 60px 45px;
  }
}
section#la-empresa .content .values h4 {
  font-size: 64px;
  color: #C4C4C4;
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#la-empresa .content .values h4 {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  section#la-empresa .content .values h4 {
    font-size: 37px;
    margin-bottom: 30px;
  }
}
section#la-empresa .content .values p {
  font-size: 14px;
  color: #314D69;
  opacity: 0.8;
}
section#la-empresa .content .values p:first-of-type {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  max-width: 260px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#la-empresa .content .values p:first-of-type {
    max-width: 75%;
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  section#la-empresa .content .values p:first-of-type {
    max-width: 70%;
    font-size: 14px;
  }
}
section#la-empresa .content .values p:last-of-type {
  font-size: 14px;
  max-width: 300px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#la-empresa .content .values p:last-of-type {
    font-size: 11px;
    max-width: 90%;
  }
}
@media (max-width: 767px) {
  section#la-empresa .content .values p:last-of-type {
    font-size: 12px;
  }
}
section#la-empresa .content .attributes {
  background: url(../../assets/images/attribures.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  padding: 120px 90px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#la-empresa .content .attributes {
    padding: 75px 45px 75px;
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  section#la-empresa .content .attributes {
    padding: 60px 45px;
  }
}
section#la-empresa .content .attributes .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
section#la-empresa .content .attributes .attribute {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
section#la-empresa .content .attributes .attribute:last-of-type {
  border: none;
}
section#la-empresa .content .attributes .attribute h4 {
  font-size: 40px;
  color: #FFF;
  text-align: center;
  padding: 120px 0;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#la-empresa .content .attributes .attribute h4 {
    font-size: 18px;
    padding: 70px 0;
  }
}
@media (max-width: 767px) {
  section#la-empresa .content .attributes .attribute h4 {
    padding: 0;
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  section#la-empresa .content .attributes .attribute i {
    display: block;
    height: 1px;
    width: 201px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 30px auto 45px;
  }
}

/* SERVICES */
section#servicios .services {
  background-color: #314D69;
  padding: 90px;
}
@media (max-width: 767px) {
  section#servicios .services {
    padding: 60px 45px;
  }
}
section#servicios .title {
  display: flex;
  justify-content: flex-start;
}
section#servicios .title h2 {
  color: #FFF;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  section#servicios .title h2 {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  section#servicios .title h2 {
    margin-bottom: 45px;
  }
}
section#servicios .item {
  border-bottom: 1px solid #FFF;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#servicios .item {
    display: block;
  }
}
@media (max-width: 767px) {
  section#servicios .item {
    display: block;
  }
}
section#servicios .item.active p {
  padding-bottom: 15px;
}
section#servicios .item.active i {
  transform: rotate(90deg);
}
section#servicios .item:first-of-type {
  border-top: 1px solid #FFF;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#servicios .item:first-of-type {
    border-top: none;
  }
}
@media (max-width: 767px) {
  section#servicios .item:first-of-type {
    border-top: none;
  }
}
section#servicios .item:last-of-type {
  border: none;
  margin-bottom: 45px;
}
section#servicios .item h3 {
  font-size: 20px;
  color: #FFF;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#servicios .item h3 {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  section#servicios .item h3 {
    font-size: 13px;
  }
}
section#servicios .item p {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: #FFF;
  width: 45%;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#servicios .item p {
    display: none;
    font-size: 12px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  section#servicios .item p {
    display: none;
    font-size: 11px;
    width: 100%;
  }
}
section#servicios .item i {
  display: none;
  background: url(../../assets/icons/icon_right.svg) no-repeat center;
  width: 13px;
  height: 14px;
  float: right;
  transition: 0.5s ease;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#servicios .item i {
    display: block;
  }
}
@media (max-width: 767px) {
  section#servicios .item i {
    display: block;
  }
}

/* TEAM */
section#equipo {
  background-color: #FFF;
  padding: 90px 90px 60px;
}
@media (min-width: 993px) and (max-width: 1200px) {
  section#equipo {
    padding: 60px 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  section#equipo {
    padding: 45px 0 45px;
  }
}
@media (max-width: 767px) {
  section#equipo {
    padding: 60px 30px 30px;
  }
}
section#equipo .title {
  justify-content: flex-start;
}
@media (min-width: 993px) and (max-width: 1200px) {
  section#equipo .title {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  section#equipo .title {
    justify-content: flex-start;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  section#equipo .title {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  section#equipo .title h2 {
    text-align: left;
  }
}
@media (max-width: 767px) {
  section#equipo .title h2 {
    text-align: left;
  }
}
section#equipo .member {
  align-items: center;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  section#equipo .member {
    margin-bottom: 30px;
  }
}
section#equipo .member:nth-of-type(2n+1) img {
  padding-right: 30px;
}
@media (max-width: 767px) {
  section#equipo .member:nth-of-type(2n+1) img {
    padding-right: 0;
  }
}
section#equipo .member:nth-of-type(2n+1) .bio {
  padding-right: 45px;
  max-width: 900px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#equipo .member:nth-of-type(2n+1) .bio {
    padding-right: 45px;
  }
}
section#equipo .member:nth-of-type(2n) .bio {
  padding-left: 45px;
  padding-right: 45px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#equipo .member:nth-of-type(2n) .bio {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (max-width: 767px) {
  section#equipo .member:nth-of-type(2n) .bio {
    padding-left: 15px;
    padding-right: 45px;
  }
}
section#equipo .member:last-of-type {
  margin-bottom: 0;
}
section#equipo .member h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (min-width: 993px) and (max-width: 1200px) {
  section#equipo .member h3 {
    font-size: 26px;
    margin-bottom: 5px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  section#equipo .member h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  section#equipo .member h3 {
    font-size: 20px;
    margin-bottom: 0;
  }
}
section#equipo .member h4 {
  font-size: 20px;
}
@media (min-width: 993px) and (max-width: 1200px) {
  section#equipo .member h4 {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  section#equipo .member h4 {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  section#equipo .member h4 {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
section#equipo .member p {
  font-size: 15px;
}
@media (min-width: 993px) and (max-width: 1200px) {
  section#equipo .member p {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  section#equipo .member p {
    font-size: 11px;
  }
}
@media (max-width: 767px) {
  section#equipo .member p {
    font-size: 11px;
  }
}
section#equipo .member .bio {
  position: relative;
  line-height: 1;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#equipo .member .bio {
    padding: 0;
  }
}
@media (max-width: 767px) {
  section#equipo .member .bio {
    padding: 30px 15px 0;
  }
}
section#equipo .member .bio a.icon {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 15px;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#equipo .member .bio a.icon {
    margin-top: 5px;
  }
}
@media (max-width: 767px) {
  section#equipo .member .bio a.icon {
    margin-top: 0;
    position: absolute;
    top: 30px;
    right: 0;
  }
}
section#equipo .member .bio a.icon.ln {
  width: 19px;
  height: 18px;
  right: 15px;
  background-image: url(../../assets/icons/icon_ln.svg);
}
@media (min-width: 768px) and (max-width: 992px) {
  section#equipo .member .bio a.icon.ln {
    width: 16px;
    height: 15px;
  }
}

/* PROJECTS */
section#proyectos {
  background-color: #C8A98A;
  padding: 90px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#proyectos {
    padding: 60px 45px 45px;
  }
}
@media (max-width: 767px) {
  section#proyectos {
    padding: 60px 45px 30px;
  }
}
section#proyectos .title {
  margin-bottom: 0;
}
section#proyectos .title h2 {
  color: #FFF;
  margin-bottom: 90px;
}
@media (max-width: 767px) {
  section#proyectos .title h2 {
    margin-bottom: 30px;
  }
}
section#proyectos .project {
  position: relative;
  background-color: #C8A98A;
  margin: 0 auto;
  transition: 0.5s ease;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#proyectos .project {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  section#proyectos .project {
    margin-bottom: 30px;
  }
}
section#proyectos .project .overlay {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 auto;
  background-color: rgba(49, 77, 105, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  transition: 0.5s ease;
}
section#proyectos .project .overlay span {
  color: #FFF;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -59%);
}
section#proyectos .project:hover .overlay {
  display: flex;
}
section#proyectos .project img {
  text-align: center;
  margin: 0 auto;
}
section#proyectos .project .data {
  background-color: #C8A98A;
  padding: 0 30px;
}
section#proyectos .project .data .info {
  position: relative;
  background-color: #FFF;
  max-width: 300px;
  margin: -40px auto 0;
  padding: 15px;
}
section#proyectos .project .data .info h3 {
  font-size: 14px;
  font-weight: bold;
  display: inline;
}
@media (max-width: 767px) {
  section#proyectos .project .data .info h3 {
    font-size: 12px;
  }
}
section#proyectos .project .data .info a {
  display: flex;
  align-items: center;
}
section#proyectos .project .data .info a.address {
  display: flex;
  font-weight: 300;
  font-size: 12px;
  color: #314D69;
  width: 100%;
}
@media (max-width: 767px) {
  section#proyectos .project .data .info a.address {
    font-size: 11px;
  }
}
section#proyectos .project .data .info a.more {
  font-size: 14px;
  font-weight: bold;
  float: right;
  color: #313131;
  line-height: 2;
}
@media (max-width: 767px) {
  section#proyectos .project .data .info a.more {
    font-size: 12px;
  }
}
section#proyectos .project .data .info a i {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
section#proyectos .project .data .info a i.marker {
  width: 12px;
  height: 12px;
  background-image: url(../../assets/icons/icon_marker.svg);
  margin-right: 5px;
}
section#proyectos .project .data .info a i.arrow {
  width: 12px;
  height: 12px;
  background-image: url(../../assets/icons/icon_arrow.svg);
  margin-left: 5px;
}

/* CONTACT */
section#contacto {
  background-color: #FFF;
  padding: 90px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#contacto {
    padding: 60px 45px 45px;
  }
}
@media (max-width: 767px) {
  section#contacto {
    padding: 60px 45px 45px;
  }
}
section#contacto .title {
  justify-content: flex-start;
}
@media (max-width: 767px) {
  section#contacto .title {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  section#contacto .title h2 {
    text-align: left;
  }
}
section#contacto .centralized {
  display: table;
  margin: 0 auto;
}
@media (max-width: 767px) {
  section#contacto .centralized {
    display: block;
  }
}
@media (max-width: 767px) {
  section#contacto .info {
    margin-bottom: 30px;
  }
}
section#contacto .info:first-of-type {
  margin-bottom: 45px;
}
@media (max-width: 767px) {
  section#contacto .info:first-of-type {
    margin-bottom: 30px;
  }
}
section#contacto .info:last-child {
  margin-bottom: 0;
}
section#contacto .info.rrhh {
  display: flex;
  gap: 15px;
}
@media (max-width: 767px) {
  section#contacto .info.rrhh {
    margin-top: 30px;
  }
}
section#contacto h3 {
  font-family: "GothamRounded";
  font-weight: bold;
  font-size: 28px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section#contacto h3 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  section#contacto h3 {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  section#contacto h3 {
    font-size: 22px;
  }
}
section#contacto a {
  font-family: "GothamRounded";
  font-size: 14px;
  color: #08110C;
}
@media (max-width: 767px) {
  section#contacto a {
    font-size: 17px;
  }
}
section#contacto a.highlighted {
  color: #5E6661;
  font-weight: bold;
}
section#contacto a:hover {
  text-decoration: underline;
}
section#contacto .icon {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
section#contacto .icon.ig {
  width: 20px;
  height: 20px;
  background-image: url(../../assets/icons/icon_ig.svg);
  margin-right: 10px;
}
section#contacto .icon.ln {
  width: 21px;
  height: 20px;
  background-image: url(../../assets/icons/icon_ln.svg);
}

/* FOOTER */
footer {
  background-color: #E5E5E5;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px 30px 90px;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  footer {
    flex-direction: column;
    padding: 75px 30px 30px;
  }
}
footer a {
  width: 224px;
  height: 59px;
  background-image: url(../../assets/icons/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
@media (max-width: 767px) {
  footer a {
    width: 240px;
    height: 68px;
    margin-bottom: 40px;
  }
}
footer p, footer p > span {
  color: #313131;
  font-size: 11px;
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */