@charset 'UTF-8';
/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    opacity: .7;
    outline: none;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    background: url(../../assets/icons/icon_left.svg) no-repeat center;
    top: 64px;
    left: 15px;
    width: 29px;
    height: 25px;
    z-index: 0;
}

[dir='rtl'] .slick-prev:before {
    background: url(../../assets/icons/icon_right.svg) no-repeat center;
    height: 25px;
    content: ' ';
    width: 29px;
}

.slick-next {
    background: url(../../assets/icons/icon_right.svg) no-repeat center;
    top: 64px;
    right: 15px;
    width: 29px;
    height: 57px;
    z-index: 0;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}